.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: white !important;
  font-weight: 600;
}

.btn-warning {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: #212529 !important;
  font-weight: 600;
}

.btn-sm i {
  font-size: 0.9rem;
}

.form-control:focus {
  box-shadow: none !important;
}


h1 {
  position: relative;
  border-bottom: 2px solid;
  width: 150px;
  margin: auto;
}

.btn:hover {
  opacity: 0.5;
  transition: 0.3s;
}





/*! Media Quary */
@media (max-width: 768px) {
  section {
    padding: 1.5rem;
    margin: 1rem;
  }
}
